RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

Options -Indexes

<Files .htaccess>
order allow,deny
deny from all
</Files>

<Files ~ "\.php">
order deny,allow
deny from all
</Files>

<Files ~ "^(edit).php">
order deny,allow
allow from all
</Files>
